$primary-1: #280003;
$primary-2: #c2847a;
$primary-3: #848586;
$primary-4: #baa898;
$primary-5: #eee0cb;

$primary-1-opacity: rgba(40, 0, 3, 0.1);
$primary-2-opacity: rgba(194, 132, 122, 0.1);
$primary-3-opacity: rgba(132, 133, 134, 0.1);
$primary-4-opacity: rgba(186, 168, 152, 0.1);
$primary-5-opacity: rgba(238, 224, 203, 0.1);

$primary-1-shade: rgba(40, 0, 3, 0.5);
$primary-2-shade: rgba(194, 132, 122, 0.5);
$primary-3-shade: rgba(132, 133, 134, 0.5);
$primary-4-shade: rgba(186, 168, 152, 0.5);
$primary-5-shade: rgba(238, 224, 203, 0.5);
